@tailwind base;
@tailwind components;
@tailwind utilities;

.checkered {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX///+/v7+jQ3Y5AAAAD0lEQVQI12Ng+I8V4RIGAH6/D/EIQoVRAAAAAElFTkSuQmCC');
}

input[type=number].no-arrows {
	-moz-appearance: textfield;
}
input[type=number].no-arrows::-webkit-outer-spin-button,
input[type=number].no-arrows::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.modal-enter-active,
.modal-leave-active {
	transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
	opacity: 0;
}